@font-face {
  font-family: 'turret-bold';
  src: url(../fonts/TurretRoad-Bold.ttf);
}
@font-face {
  font-family: 'turret-extrabold';
  src: url(../fonts/TurretRoad-ExtraBold.ttf);
}
@font-face {
  font-family: 'gugi';
  src: url(../fonts/Gugi-Regular.ttf);
}
@font-face {
  font-family: 'IBMPlexSans-Medium';
  src: url(../fonts/IBMPlexSans-Medium.ttf);
}
body{
	background-color: #000000 !important;
	background-image: url('../images/bg-hud-2.jpg');
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh
}
h1,h2,h3,h4,h5,h6,p,a,small,span,div{
	color: #ffffff !important;
}
h5.modal-title{
  font-family: 'turret-bold'
}
.card.choose-role {
  background-color: #202328;
  min-height: 30em;
  margin-top: 4em;
  border-radius: 20px;
  border: 2px solid #384B8B;
  /*background-image: url('../img/bg-box.PNG');*/
  background-color: #140E2E !important;
  background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
  padding: 1em 2em;
}
h2, h5{
	font-family: 'turret-extrabold';
	text-transform: uppercase;
	color: #27CDE9;
}
p{
	font-family: 'gugi'
}
button.btn {
    font-family: 'gugi' !important;
}
.logo-jcc img {
  width: 18em;
  margin-bottom: 1.5em;
  margin-top: 12em;
}
a.xxl-btn {
  background-color: #0B0A17 !important;
  color: #27CDE9;
  font-family: 'turret-extrabold';
  border: 1px solid #384B8B;
  width: 80%;
  height: 12em;
  margin-bottom: 2em;
  margin-top: 2em;
  border-radius: 20px;
  font-size: 22px;
  padding: 1.5em
}
a.xxl-btn:hover,a.xxl-btn:focus{
	background-color: #51378E !important;
	transition: .9s;
	color: #27CDE9;
	border: 2px solid #27CDE9;
}
img.xxl-img {
  width: 75%;
  margin-bottom: .85em;
}
.form-group {
    margin-bottom: 1rem;
    text-align: left;
    font-family: gugi;
    font-size: 13px;
}
.form-control:focus {
    color: #ffffff;
    background-color: rgba(255,255,255,1);
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    border-color: #27CDE9 !important
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff !important;
    background-color: #030D17 !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-submit{
  background-color: #0096FF !important;
  font-family: 'gugi'
}
#results img {
  width: 58%;
  display: block;
  margin: 0 auto;
}
button.mt-3.btn.btn-outline-dark {
    color: #ffffff;
    background-color: #333333;
    border: none;
    margin-top: 45px !important;
    display: block;
}
a.btn, button {
    border-radius: 10px !important;
    padding: 12px 28px !important;
}
a.btn.btn-outlined {
    float: left;
    background-color: #140E2E;
    border: 2px solid #27CDE9;
    font-family: 'gugi';
    margin-top: 2em;
    color: #27CDE9 !important
}
img.img-btn {
    height: 22px;
    display: inline-block;
    margin-top: -4px;
    margin-right: 5px;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #030D17 !important;
    border: 2px solid #22B1CA !important;
    border-radius: 10px !important; 
    outline: 0;
}
.modal-header, .modal-footer {
    border-bottom: none !important;
    border-top: none !important;
}
.input-group-prepend .input-group-text {
    background-color: #683075 !important;
    font-size: 12px !important;
    width: 68px !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #384B8B !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #384B8B !important;
    border-radius: .25rem;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #384B8B !important;
    border-color: #384B8B !important;
}
.nav-tabs .nav-link {
    border: 2px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    width: 50% !important;
    font-family: 'gugi';
}
.nav-tabs {
    border-bottom: 2px solid #0056b3 !important;
}

/* Admin Page */
.logo-jcc-admin img {
  width: 10em;
  /* margin-bottom: 1.5em;
  margin-top: 12em; */
}